PORT=4000
NODE_ENV=development
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=tu-contraseña
PGDATABASE=finanzas
JWT_SECRET=cambia-este-secreto-en-produccion-por-uno-largo-y-aleatorio
JWT_EXPIRES_IN=7d
CLIENT_ORIGIN=http://localhost:5173
GOOGLE_CLIENT_ID=TU_CLIENT_ID_DE_GOOGLE.apps.googleusercontent.com
